#VSCCODE

/md2/.vscode/*
!/md2/.vscode/settings.json
!/md2/.vscode/tasks.json
!/md2/.vscode/launch.json
!/md2/.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
/md2/.history/

#MAVEN

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#excel
~$*.*